body,h1,ul,li,a,p,span,h4,figure,figcaption{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}
#nav .link li{
	float: left;
	text-align: center;
	width: 114px;
	height: 60px;
	line-height: 60px;
	
}
#nav .link{
	width: 342px;
	height: 60px;
	float: left;
	padding-left: 50px;	
	
}
#nav .logo{
	float: left;
	width: 105px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: white;
	font-size: 25px;
	padding-left: 50px;
	background: url(img/ele0.png) no-repeat right;
}
#nav h1{
	text-indent: -9999px;
}
#nav{
	width: 100%;
	min-width: 1263px;
	height: 60px;
	background-color: rgb(0, 137, 220);
	margin: 0 auto;
	padding: 0;
	
}
#nav .center{
	width: 1263px;
	height: 60px;
	
	margin: 0 auto;
}
#nav .link a,#nav .login a{
	
	color: white;
	text-decoration: none;
	display: block;
}
#nav .link a:hover{
	background-color: #0066CC;
}
#nav .active a{
	background-color: #0066FF;
}
#nav .link2{
	width: 400px;
	height: 60px;
	float: left;
	padding-left: 120px;
	
}
#nav .link2 li{
	float: right;
	text-align: center;
	width: 110px;
	height: 60px;
	line-height: 60px;

	
}
#nav .link2 a:hover{
	color: white;
}
#nav .link2 a{
	display: block;
	text-decoration: none;
	color: #154D84;
}
#nav .login{
	width: 92px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	float: right;
	padding-right: 50px;
}
#sidebox{
	width: 35px;
	height: 643px;
	position: fixed;
	right: 0;
	top: 0;
	background-color: #504d53;
	color: #eee;
	text-align: center;
}
#sidebox span{
	position: relative;
	top: 200px;
}
#sidebox span a{
	color: #eee;
	text-decoration: none;
}
#sec{
	width: 1263px;
	height: 54px;
	margin: 0 auto;

}
#sec .location{
	margin: 15px 0 0 0;
	font-size: 14px;
}
#sec .location a{
	text-decoration: none;
	color: black;
}
#sec .location .loc{
	color:rgb(0, 137, 220);
}
#sec .location a:hover{
	color: rgb(0, 137, 220);
}
#sec .location .search{
	float: right;
	width: 200px;
	height: 30px;
}
#sec .location .button{
	float: right;
	font-size: 20px;
	cursor: pointer;
	margin: 0 auto;
	border-style: none;
	background-color: white;
	border: 1px solid silver;
	height: 36px;
	text-align: center;
}
#sec .location .search:focus{
	-webkit-animation:myinput .5s forwards;
	animation:myinput .5s forwards;
	-o-animation:myinput .5s forwards;
	-moz-animation:myinput .5s forwards;
}
@-webkit-keyframes myinput{
	0%{
		width: 200px;
	}
	100%{
		width: 280px;
	}
}
@keyframes myinput{
	0%{
		width: 200px;
	}
	100%{
		width: 280px;
	}
}
@-o-keyframes myinput{
	0%{
		width: 200px;
	}
	100%{
		width: 280px;
	}
}
@-moz-keyframes myinput{
	0%{
		width: 200px;
	}
	100%{
		width: 280px;
	}
}
#sec .ad{
	width: 1180px;
	height: 98px;
	overflow: hidden;
/*	margin: 30px 0 0 0;*/
	position: relative;
	margin-top: 30px;
	margin-left: 50px;

}
#sec .ad ul{
	overflow: hidden;
	width: 1263px;
	height: 98px;

}
/*幻灯片图片轮换*/
#sec .ad .pic{
	width: 4720px; 
	position: relative; 
	left: 0; 
	top: 0;  
	animation: myfirst 24s linear infinite 1s; 
	-webkit-animation: myfirst 24s infinite 1s; 
	-o-animation: myfirst 24s infinite 1s; 
	-moz-animation: myfirst 24s infinite 1s;
}


#sec .ad .pic li{
	float: left;

}

#sec .num p{
	display: inline-block;
	clear: both;
	left: 500px;
	padding: 0 5px 0 5px;
	background: silver;
	margin: 0 1px 0 1px;
	position: relative;
	top: -30px;
	left: 1050px;
	z-index: 999;
}
#sec .num p:hover{
	background-color: orange;
	color: white;
}

@keyframes myfirst {
	0%   {left: 0;}
	12.5%   {left: 0}
	25%   {left: -1180px;}
	37.5%   {left: -1180px;}
	50%   {left: -2360px;}
	60%   {left: -2360px;}
	75%   {left: -2360px;}
	82.5%   {left: -3540px;}
	90%   {left: -3540px;}
	100%   {left: 0;}
}
@-webkit-keyframes myfirst {
	0%   {left: 0;}
	12.5%   {left: 0}
	25%   {left: -1180px;}
	37.5%   {left: -1180px;}
	50%   {left: -2360px;}
	60%   {left: -2360px;}
	75%   {left: -2360px;}
	82.5%   {left: -3540px;}
	90%   {left: -3540px;}
	100%   {left: 0;}
}
@-moz-keyframes myfirst {
	0%   {left: 0;}
	12.5%   {left: 0}
	25%   {left: -1180px;}
	37.5%   {left: -1180px;}
	50%   {left: -2360px;}
	60%   {left: -2360px;}
	75%   {left: -2360px;}
	82.5%   {left: -3540px;}
	90%   {left: -3540px;}
	100%   {left: 0;}
}
@-o-keyframes myfirst {
	0%   {left: 0;}
	12.5%   {left: 0}
	25%   {left: -1180px;}
	37.5%   {left: -1180px;}
	50%   {left: -2360px;}
	60%   {left: -2360px;}
	75%   {left: -2360px;}
	82.5%   {left: -3540px;}
	90%   {left: -3540px;}
	100%   {left: 0;}
}

/*购买部分*/
#sec{
	width: 1263px;

}
#sec .shop{
	clear: both;
	width: 1263px;
	height: 42px;
	margin: 0 auto;
	font-size: 17px;
}
#sec .shop2 span,#sec .shop3 span{
	background: rgb(0, 137, 220);
	color: white;
	padding: 4px;
	border-radius: 5px;
}
#sec .shop2 li:nth-child(3){
	color: red;
}
#sec .shop4 span{
	color: rgb(0, 137, 220);
}
#sec .shop4 li{
	padding: 0 5px;
}
#sec .shop li{
	float: left;
	width: 118px;
	height: 40px;
	line-height: 43px;
	text-align: left;
	cursor: pointer;
	
}
#sec .shop .num1{
	color: rgb(0, 137, 220);
}
#sec .shop .shop2,#sec .shop .shop3,#sec .shop .shop4{
	clear: both;
}
#sec .shop .shop4 li{
	width: 109px;
	height: 40px;
	padding: 0 1px 0 1px;

}
#sec .shop .shop5{
	width: 400px;
	height: 40px;
	float: right;
	position: relative;
	top: -56px;
}
#sec .shop .shop_contain{
	width: 1263px;
	height: 155px;
	border: 1px solid #ddd;
	line-height: 155px;
}
#sec .clear{
	clear: both;
}
#sec .more{
	width: 1263px;
	height:43px;
	clear: both;
	border: 1px solid #ddd;
	text-align: left;
	line-height: 43px;
	position: relative;
	top: 10px;


}
#sec .more span{
	color: orange;
	font-size: 25px;
}
#sec .more a{
	color: rgb(0, 137, 220);
	text-decoration: none;
}
/*购买的内容部分*/
#sec .food{
	/*background-color:orange;*/
	margin-top: 30px;
	width: 1263px;
	height: 800px;
	text-align: left;
}

#sec .food .buy{
	width: 295px;
	height: 140px;
	margin: 0;
	display: inline-block;
	margin:9px 5px;
}
#sec .food .buy a{
	color: #222;
	display: block;

}
#sec .food .buy a h3{
	font-weight: normal;
}
#sec .food .buy ul{
	color: #999;
	font-size: 14px;
	line-height: 1.7;
}
#sec .food .buy a:hover h3{
	color: rgb(0, 137, 220);

}
#sec .food .buy span:first-child{
	color: white;
	background-color: purple;
	padding: 1px;
	border-radius: 3px;
	margin: 10px 5px;
	padding: 0.5px 1px;
}
#sec .food .buy span:nth-child(2){
	color: white;
	background-color:rgb(0, 137, 220);
	padding: 0.5px 1px;
	border-radius: 3px;
}
.food img{
	/*float: left;*/
	/*display: inline-block;*/
	text-align: center;
	margin: 35px;
	vertical-align: center;
}
.food .buy figcaption{
	float: right;
	position: relative;
	left: -40px;
}
#sec .else a{
 	text-decoration: none;
	margin: 0 auto;
	border: 1px solid #999;
	font-size: 18px;
	padding: 2px;
	border-radius: 2px;
	background-color: #eee;
	color: rgb(0, 137, 220);
}
#sec .else{
	width: 1263px;
 	height: 20px;
	margin: 0 auto;
	text-align: center;
}
/*底部部分*/
#footer{
	/**/
	height: 283px;
	margin: 0 auto; 
	clear: both;
	position: relative;
	top: 970px;	
}
#footer .top{
	width: 1263px;
	height: 203px;
	margin: 0 auto;
	text-align: center;

}
#footer .top .left{
	width: 410px;
	height: 203px;
	vertical-align: top;
	display: inline-block;
	text-align: left;
	text-indent: 20px;
}
#footer .top .center{
	width: 410px;
	height: 203px;
	text-align:center;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	text-indent: 60px;
}
#footer .top .center ul{
	line-height: 1.8;
}
#footer .top .right{
	width: 410px;
	height: 203px;
	text-align:center;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

#footer .top .right img{
	float: left;
	vertical-align: top;
	width: 110px;
	margin: 0 0 0 90px;
}
#footer .top .right figcaption{
	float: right;
	margin: 10px 90px 0 0;
}
#footer .top .left1{
	width: 110px;
	height: 203px;
	display: inline-block;
}
#footer .top .left1 h4{
	font-weight: normal;

}
#footer .top .common ul{
	font-size: 14px;
	color: #999;
}
#footer .top .common a{
	text-decoration: none;
	color: #999;
	line-height: 1.8;
}
#footer .top .common a:hover{
	color: #111;
	text-decoration: underline;
}
#footer .top .center1{
	width: 110px;
	height: 203px;
	display: inline-block;
}
#footer .top .right1{
	width: 110px;
	height: 203px;
	display: inline-block;
}
#footer .top .left h4{
	font-weight: normal;
}
#footer .bottom{
	height: 80px;
	text-align: center;
	line-height: 80px;
	font-size: 14px;
	margin-top: -50px;
}
#footer .bottom .pic{
	display: block;
	margin: -23px auto;
	width: 90px;
	height: 40px;
}
