body{
	margin: 0;
	padding: 0;
}
#box{
	width: 100px;
	height: 100px;
	background-color: red;
	position: absolute;
	left: 300px;
	top: 100px;


}
#aaa{
	position: relative;
	width: 300px;
	height: 500px;
	background-color: #ccc;
	left: -300px;
	top: 50px;
}
#box:hover{
	opacity: 0.5;
}



#banner{
	width: 380px;
	height: 230px;
	position: relative;
	overflow: hidden;
}
#banner img{
	position: absolute;
}
#banner ul{
	width: 100px;
	height: 20px;
	z-index: 4;
	position: absolute;
	top: 200px;
	left: 125px;

}
ul,li{
	margin: 0;
	padding: 0;
	
	list-style: none;
}
#banner ul li{
	padding: 0 5px;
	cursor: pointer;
	float: left;
}
#banner span{
	width: 380px;
	height: 25px;
	background-color: #333;
	position: absolute;
	top: 195px;
	left: 0;
	opacity: 0.3;
	display: block;
	z-index: 3;

}
#banner strong{
	position: absolute;
	top: 195px;
	left: 10px;
	color: #fff;
	z-index: 4;
}

